@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-size: 16px;
  --dark-color : #212428;
  --text-color-green : #00bf63;
  --text-color-blue : #38b6ff
}
*{
/*   outline-color: #c0c0c0;
  outline-width: 2px;
  outline-style: solid; */
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  color: #c0c0c0;
  font-family: fantasy Arial, Helvetica, sans-serif;
}


body {
  background-color: var(--dark-color) ;
}

/* nav{
  background: #0b0b53;
  background: -webkit-linear-gradient(0deg, #0b0b53 0%, #070f65 100%);
  background: linear-gradient(0deg, #0b0b53 0%, #070f65 100%);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 768px) {

}

.title-blue{
  color: var(--text-color-blue);
}
.title-green{
  color: var(--text-color-green);
}

/* .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }  */

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in-left {
    animation: slideInFromLeft 0.8s ease-in-out forwards;
  }
  
  .animate-slide-in-right {
    animation: slideInFromRight 0.8s ease-in-out forwards;
  }
  